*{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

/* banner section css*/

.hero{
    background-image: url(../assets/Hero-bg.png);
    
   
  
}

.banner_main{
    margin: 20px 200px 50px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.banner_description>p{
    font-weight:16px;
    font-size:smaller;
    color: #0D1321;
}

.baner_button{
    color: white;
    background-color: #0D1321;
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 5px;
}

.baner_button a{
    text-decoration: none;
    color: white;
    
}

/* Why web development section*/

.why{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 1000px;
    
   
    margin: 70px auto 0px  auto;
    
}

a{
    text-decoration: none;
    color: #0D1321;
}

.common_style{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    
}

.common_style img{
    height: 200px;
    width: 200px;
}

.text{
    height: 200px;
}

.heading{
    
    color: #0D1321;
}

.why p{
    font-weight: lighter;
    font-size: smaller;
}

.why button{
    border: 2px solid #0D1321 ;
    width: 140px;
    height: 40px;
}


/*my inspiration section*/

.inspiration{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px auto 40px auto;
}


/* I need Support section*/
.support{
    background-image: url("../assets/handshake.jpg");
    background-position: 40%;
    width: 900px;
    height: 300px;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    height: 40px;
    width: 450px;
    border: none;
    border-radius: 5px;
    
}
.input2{
    height: 40px;
    width: 100px;
    color: #0D1321;
    border: none;
    border-radius: 5px;
}

.title{
    color: #5c5b5b;
    text-align: center;
    margin-top: 50px;
    width: 650px;
    height: 150px;
}


/* footer part styls*/

.footer{
    margin: 100px auto 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}